# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/

# Data & results
data/*
!data/.gitkeep

results/benchmarks/*
results/embeddings/*
!results/benchmarks/.gitkeep
!results/embeddings/.gitkeep

logs/
!logs/.gitkeep

*.pkl
# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
